* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body { 
background-color: rgba(68, 58, 147, 1);
height: 100vh;
width: 100vw;
}

.container-logo {
background-color: rgba(12, 10, 29, 1);
background-image: url(./assets/background-logo.jpg);
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}
.container-logo h1{
font-family: "Bebas Neue", sans-serif;
color: #EEEEEE;
font-size: 75px;
font-weight: 400;
text-align: center;
margin: 0;
}
.container-logo h2{
font-family: "Mabrick Signature", sans-serif;
color: #EEEEEE;
font-size: 28px;
line-height: 0;
margin: 0;
text-align: center;
}

.container-bio {
background: #5258e5;
background: -moz-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: -webkit-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
height: 400px;
padding: 0;
display: flex;
justify-content: space-around;
align-items: center;
}

.bio-mateus {
padding-top: 15px;
width: 80%;
max-width: 450px;
height: 400px;
}
.bio-mateus h1 {
font-family: 'Rubik', sans-serif;
color: #EEEEEE;
font-size: 38px;
font-weight: 600;
display: flex;
justify-content: center;
width: 470px;
margin-left: 200px;
}
.bio-mateus h2{
font-family: 'Rubik', sans-serif;
color:#EEEEEE;
font-size: 17px;
font-weight: 400;
width: 470px;
letter-spacing: 0; /*da uma olhada nesse comando, deixa todas as letras com o mesmo tamanho*/
margin-left: 200px;
margin-top: 15px;
}
    
img {
width: 375px;
height: 400px;
}

.social-media {
width: 425px;
display: flex; 
flex-direction: column;
align-items: center;
}

a 
{
color: #EEEEEE;
text-decoration: none;
}

button {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px #cd201f solid;
    overflow: hidden;
  }
  
  .text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
  }
  
  .text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: #EEEEEE;
  }
  
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
  }
  
  .icon::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background-color: #cd201f;
  }
  
  button:hover .icon {
    transform: translateX(96px);
    transition: transform 0.5s;
  }
  
  button:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
  }
  
  button:active {
    transform: scale(1.03);
  }
  button {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: #181439;
    border: 1px #00ADB5 solid;
    overflow: hidden;
  }
  
  .text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
  }
  
  .text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: #EEEEEE;
  }
  
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
  }
  
  .icon::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background: radial-gradient(circle at 30% 107%,#5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
    ;
  }
  
  button:hover .icon {
    transform: translateX(96px);
    transition: transform 0.5s;
  }
  
  button:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
  }
  
  button:active {
    transform: scale(1.03);
  }

.container-links {
background: #5258e5;
background: -moz-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: -webkit-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
padding: 0;
height: 380px;
display: flex;
justify-content: space-around;
align-items: center;
}

.card {
  --background: linear-gradient(to left, #00ADB5 0%, #0C0A1D 100%);
  width: 180px;
  height: 254px;
  margin: 10px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
  flex-grow: 1;
 }

 .container-cards {
display: flex;
flex-direction: wrap;
gap: 10px;

 }
 
 .card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity .5s;
 }
 
 .card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
 }
 
 .card .title {
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 16px;
 }
 
 /*Hover*/
 .card:hover::after {
  opacity: 0;
 }
 
 .card:hover .card-info {
  color: #00ADB5;
  transition: color 1s;
 }
 
  ion-icon {
  color:#EEEEEE;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.container-depoimentos {
  font-family: 'Rubik', sans-serif;
  color:#EEEEEE;
  font-size: 17px;
  font-weight: 400;
  height: 450px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  column-gap: 30px;
}

.dep1{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: flex-start;
}
.dep2{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: center;
}
.dep3{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: flex-end;
}
.dep4{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: flex-start;
}
.dep5{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: center;
}
.dep6{
  border: 2px solid black;
  height: 200px;
  width: 290px;
  align-self: flex-end;
}

.container-hotmart {
background: #5258e5;
background: -moz-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: -webkit-linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
background: linear-gradient(45deg, #5258e5 0%, #0c0a1d 100%, #0c0a1d 100%);
height: 400px;
}
.container-hotmart h1{
  font-family: 'Rubik', sans-serif;
  color: #EEEEEE;
  font-size: 38px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  margin-left: 200px;
}
.container-hotmart h2 {
  font-family: 'Rubik', sans-serif;
  color:#EEEEEE;
  font-size: 17px;
  font-weight: 400;
  width: 470px;
  letter-spacing: 0; /*da uma olhada nesse comando, deixa todas as letras com o mesmo tamanho*/
  margin-left: 200px;
  margin-top: 15px;
} 

